[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Fritzing
Exec=bash -ic '$HOME/fritzing/fritzing-app/Fritzing;$SHELL'
Icon=$HOME/fritzing/fritzing-app/resources/images/fritzing_icon.png
Comment=Fritzing app
Terminal=false
Categories=GNOME;Application;Development;
Name[en_US]=Fritzing
